{% include 'header.html' %}

{% include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">

<p style="text-align: center;">When powered on the generator uses RPMs to generate power to the pylon then, eventually to customers. If the generator does not consume RPMs then no power will be produced.</p>
    
  

<form method="POST">

<div class="submit_span col-md-4">

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="on_off" value="1" id="option1" autocomplete="off" checked> On
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="on_off" value="0" id="option2" autocomplete="off"> Off
  </label>
</div>

 <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit

 </button>
</div>
</form>

    </div>
    <!-- /.container -->

{% include 'footer.html' %}
