{% include 'header.html' %}

<style>
.grid { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  }

.grid img {
  border: 5px solid #ccc;
}

</style>

{% include 'navigation.html' %}
    <!-- Page Content -->
<div class="container">
 <p style="text-align: center;">This page is designed to show the selected option on each PLC.</p>
</div>
<main class="grid"> 
 <form method="POST">
  <p style="text-align: center;">Fuel Rate</p>
  <p style="text-align: center;">Status: {{ stat.get('fuel_stat') }}</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="fuel_rate" value="0" id="option0" autocomplete="off" checked> Off
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="fuel_rate" value="1" id="option1" autocomplete="off"> Low
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="fuel_rate" value="2" id="option2" autocomplete="off"> Normal
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="fuel_rate" value="3" id="option3" autocomplete="off"> High
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
 <form method="POST">
   <p style="text-align: center;">Waterpump</p>
   <p style="text-align: center;">Status: {{ stat.get('waterpump_stat') }}</p>
   <div class="submit_span col-md-4">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
     <label class="btn btn-secondary">
      <input type="radio" name="waterpump_io" value="1" id="option1" autocomplete="off" checked> On
     </label>
     <label class="btn btn-secondary">
      <input type="radio" name="waterpump_io" value="0" id="option2" autocomplete="off"> Off
     </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
    </button>
   </div>
 </form>
 <form method="POST">
  <p style="text-align: center;">Boiler</p>
  <p style="text-align: center;">Status: {{ stat.get('boiler_stat') }}</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="boiler_io" value="1" id="option1" autocomplete="off" checked> On
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="boiler_io" value="0" id="option2" autocomplete="off"> Off
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
 <form method="POST">
  <p style="text-align: center;">Turbine</p>
  <p style="text-align: center;">Status: {{ stat.get('turbine_stat') }}</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="turbine_io" value="1" id="option1" autocomplete="off" checked> On
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="turbine_io" value="0" id="option2" autocomplete="off"> Off
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
 <form method="POST">
  <p style="text-align: center;">Generator</p>
  <p style="text-align: center;">Status: {{ stat.get('generator_stat') }}</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="generator_io" value="1" id="option1" autocomplete="off" checked> On
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="generator_io" value="0" id="option2" autocomplete="off"> Off
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
 <form method="POST">
  <p style="text-align: center;">Pylon</p>
  <p style="text-align: center;">Status: {{ stat.get('pylon_stat') }}</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="pylon_io" value="1" id="option1" autocomplete="off" checked> On
    </label>
    <label class="btn btn-secondary">
     <input type="radio" name="pylon_io" value="0" id="option2" autocomplete="off"> Off
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
 <form method="POST">
  <p style="text-align: center;">Emergency Shutoff</p>
  <div class="submit_span col-md-4">
   <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
     <input type="radio" name="zero_out" value="0" id="option0" autocomplete="off" checked> Emergency Shutoff
    </label>
   </div>
   <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
   </button>
  </div>
 </form>
</main>

{% include 'footer.html' %}