{% include 'header.html' %}

{% include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">
    

<p style="text-align: center;">The pylon is the last step before the power reaches the consumers. The pylon acts as a power gauge. If there are issues with the power the pylon, when turned on, will provide the power levels.</p>

 

<form method="POST">

<div class="submit_span col-md-4">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="on_off" value="1" id="option1" autocomplete="off" checked> On
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="on_off" value="0" id="option2" autocomplete="off"> Off
  </label>
</div>
 <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit
 </button>
</div>
</form>

    </div>
    <!-- /.container -->

{% include 'footer.html' %}
