{% include 'header.html' %}

  <body>

{% include 'navigation.html' %}

<div class="container">
<h1 style="text-align: center;"><strong>Powerplant Overview</strong></h1>
<p style="text-align: center;">Use the HMI to manipulate the PLCs. PLC status is set by the last command sent.</p>
</div>

    <!-- Page Content -->
<div class="container">
     <a class="navbar-brand" href="#">
      <img src="/images/custom_powerplant.jpg" width="728" height="546" alt="">
     </a>
</div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

